<div class="row">
   <div class="col-md-4">
      <app-sidenav ></app-sidenav>
   </div>

   <div class="col-md-7 pt-3">
        
      <div class="row">    
            <div class="card p-3" *ngIf="questionare">
              <ul><p class="text-right">Total Points: {{totalPoints}}</p>
                <li class="list-group-item">Section: {{questionare[currentSection]['section']}}
                  <ul>
                    <li class="list-group-item">Parameter: {{questionare[currentSection].parameters[currentParameter].parameter}}
                      <ul>
                        <li class="list-group-item">Level: {{questionare[currentSection].parameters[currentParameter].level[currentLevel].questionLevel}}
                          <ul>
                            <li class="list-group-item">Question {{questionare[currentSection].parameters[currentParameter].level[currentLevel].questions[currentQuestion].questionNo}}
                              {{questionare[currentSection].parameters[currentParameter].level[currentLevel].questions[currentQuestion].questionDescription}}
                              <ul>
                                <li class="list-group-item  mt-1" *ngFor="let r of questionare[currentSection].parameters[currentParameter].level[currentLevel].questions[currentQuestion].response">
                                  <input type="radio" name="options"  (change)="onClick(r.option,r.points, r.evidence, r.comment)" [disabled]="answerSelected">
                                  {{r.option}} {{r.points}}
                                </li>
                                <ul class="card mt-1">
                                  <div class="row p-2" >
                                    <div class="list-group-item text-center " id="btn-wrapper">
                                      <button class="btn btn-success" (click)="nextClick(questionare[currentSection].parameters[currentParameter].level[currentLevel].questions,options,point,currentSection,currentQuestion,currentParameter,currentLevel)" [disabled]="btnDisabled"   type="submit">Submit</button>
                                    </div>
                                    <li class="list-group-item text-center" id="upload-wrapper" [hidden]="fileHide">              
                                        <button class="btn btn-secondary" (click)="fileInput.click()" >Attach File</button>
                                        <input style="display: none"  #attachments type="file" (change)="onFileChanged($event)" #fileInput multiple="true">
                                          <div *ngFor="let selected of listOfFiles;let index = index">
                                            <b>{{selected}}</b>
                                            <button class="btn btn-danger m-2" (click)="removeSelectedFile(index)">Delete</button>
                                          </div>
                                    </li>
                                    <li class="list-group-item text-center" id="comment-wrapper" [hidden]="commentHide">
                                        <label for="comment" ></label>
                                        <textarea id="comment" placeholder="your comment here"  ></textarea>
                                    </li>
                                  </div>
                                </ul>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
      </div>
      
        
        
   </div>
</div>






















 
 <!-- <div class="card">
          <div class="card-body">
    
                <div class="col-sm-8 offset-2">
                  <p class="text-right">Total Points: {{totalPoints}}</p>
                  <p class="text-center">{{currentQuestion +1}} of {{conv.length}}</p>
  
                  <p>Section: {{conv[currentSection].section}}</p>
                  <p>Parameter: {{ conv[currentParameter].parameter }}</p>
                  <p>Level:  {{ conv[currentLevel].questionLevel }}</p>
                  
                   <h6><span>{{ conv[currentQuestion].questionNo }}.</span>{{ conv[currentQuestion].questionDescription }}</h6>
                  
    
                  <ul class="list-group" *ngFor="let c of conv[currentQuestion].response">
                    
                    <label>
                    <li class="list-group-item">
                      {{c.points}}
                      <input type="radio" name="options" (change)="onOpt(c.points)" [disabled]="answerSelected">
                      {{c.option}}
                    </li>
                    
                    </label>
                    
                  </ul> 
    
                    <div class="row" >
                      <div class="col-sm-4 offset-1">
                        <input type="file"  [hidden]="fileHide">
                      </div>
                      <div class="col-sm-4 offset-2">
                        <div class="form-group" >
                          <label for="comment" ></label>
                          <textarea class="form-control"  id="comment"  [hidden]="commentHide" placeholder="write your comment here"></textarea>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6" >
                        <button class="btn btn-success text-right" [disabled]="btnDisabled"   type="submit" (click)="nextQuestionClick()">Submit</button>
  
                      </div>
                    </div>
                  
    
    
                </div>
    
          </div>
        </div> -->


 






<!-- 
    <div class="container" *ngFor='let s of section'>
      <h4>section: {{s.section}} </h4>
      <div><b>parameter: {{s.parameters[0].parameter}}</b></div> 
      <h4>Level:{{s.parameters[0].level[0].questionLevel}}</h4>
      <h4>Question: {{s.parameters[0].level[0].questions[0].questionNo}} - {{s.parameters[0].level[0].questions[0].questionDescription}}</h4>
      <h5>Response: {{s.parameters[0].level[0].questions[0].response[0].option}}</h5>
      <p *ngFor='let r of questions[currentNew].response'>{{r.points}}<input type="radio" (change)="optn(r.points)" name="opt"> {{r.option}} </p>
      
          
    
  
  </div>


  <div class="card bg-success p-3"  *ngFor='let p of parameter'>parameter: {{p.parameter}} 
    <div *ngFor='let l of level'>level: {{l.questionLevel}}
       <p>==>Question :{{l.questions[0].questionNo}} {{l.questions[0].questionDescription}}</p> 
      
      <p >==>{{l.questions[0].response[0].option}} | {{l.questions[0].response[0].points}} </p>
     

       <p *ngFor='let q of questions'>question: {{q.questionNo }} {{q.questionDescription}}  </p>
      <p *ngFor='let r of response'><input type="radio" name="opt">{{r.points}} {{r.option}} </p>
    </div>
</div> -->


  <!-- <div *ngFor="let cric of section | keyvalue">{{cric.key}}:
    <div *ngFor="let subItem of cric.value | keyvalue">
      {{subItem.key}}: {{subItem.value}}
    </div>
  </div> -->
<!--     
  <div *ngFor='let s of sections'> {{s.section}}  </div>
  <div *ngFor='let p of parameter1'>parameter:{{p.parameter}}</div>
    <div *ngFor='let l of question1'>{{l.questionLevel}}
        <div *ngFor='let q of level1questions '>
          <br>
          <h5>question: {{q.questionNo}} {{q.questionDescription}}</h5>
          <br>

        </div>
    
 </div> -->




<!-- 
<div class="card bg-info" *ngIf="showCurrentQuestion">
  
  <ul >
   Total points: {{totalPoints}}
    <li *ngFor="let sec of sections" class="list-group-item">
    {{sec.section}}
    <ul class="card bg-info">
        <li *ngFor="let para of sec.parameters" class="list-group-item">
        {{para.parameter}}
        <ul class="card bg-info">
          <li *ngFor='let lev of para.level'  class="list-group-item ">
           Level: {{lev.questionLevel}}
            <ul class="card bg-info" >
              <li *ngFor= 'let que of lev.questions' class="list-group-item">Question {{que.questionNo}} : {{que.questionDescription}}
                <ul>
                  <li *ngFor='let res of que.response' class="list-group-item">
                    <input type="radio" name="options" (change)="onOptClick(res.points)">
                    {{res.option}} {{res.points}}
                  </li>
                  <button class="btn btn-success  m-3" type="submit" >Submit</button>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
        </li>
    </ul>
    </li>
</ul>
</div> -->

<!-- 
 <div class="card bg-secondary">
   <div class="card bg-secondary">
     <P>{{questionare[currentSection].section}}</P>
     <div class="card bg-secondary">
       <p>{{questionare[currentSection].parameters[currentParameter].parameter}}</p>
       <div class="card bg-secondary">
         <p>{{questionare[currentSection].parameters[currentParameter].level[currentLevel].questionLevel}}</p>
         <div *ngFor="let q of questionare[currentSection].parameters[currentParameter].level[currentLevel].questions" class="card bg-secondary">
           <li class="list-group-item">{{q.questionNo}} {{q.questionDescription}}</li>
           <li *ngFor="let r of q.response" class="list-group-item"><input type="radio" name="options" (change)="onClick(r.option,r.points,currentSection,currentQuestion,currentParameter,currentLevel)" [disabled]="answerSelected">
            {{r.option}} {{r.points}}</li>
           </div>
        </div>
      </div>
    </div>
</div>   -->

<!-- 
<div class="card p-5 bg-dark">
    <P class="card p-1">Section: {{questionare[currentSection].section}}</P>
   <p class="card p-1">Parameter: {{questionare[currentSection].parameters[currentParameter].parameter}}</p>
   <p class="card p-1">Level: {{questionare[currentSection].parameters[currentParameter].level[currentLevel].questionLevel}}</p>
   <div class="card p-3">
     
       <p>Question {{questionare[currentSection].parameters[currentParameter].level[currentLevel].questions[currentQuestion].questionNo}}
          {{questionare[currentSection].parameters[currentParameter].level[currentLevel].questions[currentQuestion].questionDescription}}
      </p>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let r of questionare[currentSection].parameters[currentParameter].level[currentLevel].questions[currentQuestion].response">
        <input type="radio" name="options" (change)="onClick(r.option,r.points,currentSection,currentQuestion,currentParameter,currentLevel)" [disabled]="answerSelected"> {{r.option}} {{r.points}}
    </li> 
  </ul>
   </div>
</div> -->










  



<!-- <div class="card">
    <input hidden type="file" #uploader (change)="uploadFile($event)"/>
    <button (click)="uploader.click()">Upload</button>
</div> -->


<!-- 
<pagination-controls  id="sec" (pageChange)="page= $event" ></pagination-controls>

  <ul  >
   Total points: {{totalPoints}}
    <li *ngFor="let sec of questionare  | paginate:{id: 'sec', itemsPerPage:1, currentPage:page, totalItems: totalLength} " class="list-group-item">
    {{sec.section}}
    <ul class="card bg-info">
        <li *ngFor="let para of sec.parameters" class="list-group-item">
        {{para.parameter}}
        <ul class="card bg-info">
          <li *ngFor='let lev of para.level'  class="list-group-item ">
           Level: {{lev.questionLevel}}
            <ul   >
              <li *ngFor= "let que of lev.questions">Question {{que.questionNo}} : {{que.questionDescription}}
                <ul>
                  <li *ngFor='let res of que.response' class="list-group-item">
                    <input type="radio" name="options" (change)="onOptClick(res.points)">
                    {{res.option}} {{res.points}}
                  </li>
                  <button class="btn btn-success  m-3" type="submit" >Submit</button>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
        </li>
    </ul>
    </li>
</ul> 


 -->


















